
  @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


.carousel {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff;
  animation: slide 1s ease-in-out;
}

.text {
  font-family: 'Bacasime Antique', serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #404040;
}
.Header{
  font-family: 'Silkscreen', sans-serif;
}
.author {
  font-size: medium;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  color: #666;
}

.animated {
  -webkit-animation-duration: 20s;animation-duration: 20s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.fade-in-text{
  
  animation: fadeIn 10s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.Post{
/* Hidden by default */
  visibility: hidden;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.Post.active{
  visibility: visible;

}
.PostContent{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 60%; /* Could be more or less, depending on screen size */
}
.Profile_Setting{
  /* Hidden by default */
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
   width:  100%;
   height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(226, 12, 12); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
 .FeedNav{
  width: 18.5%;
  min-height: 100vh;
  margin-right: 2rem;
  position: relative;

  
 }

 .FeedNavContent{
  position: fixed;

 }
 .main{
  width: 60%;

 }



